
.author {
  color: #111;
  display: block;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 16px;
  padding-bottom: 38px;
  position: relative;
  background: none;
  text-align: center;
  z-index: 1;
  content: "";
  &:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.bullet {
  margin-left: -20px;
  list-style: none;
  counter-reset: li;
}
.bullet li {
  position: relative;
  margin-bottom: 1.5em;
  border: 2px solid #CADFCF;
  padding: 0.6em;
  border-radius: 4px;
  background: none;
  color: #231F20;
}
.bullet li:before {
  position: absolute;
  top: -0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-size: 22px;
  font-weight: bold;
  color: #dc0400;
  background: #f3fef0;
  border-radius: 50%;
  counter-increment: li;
  content: "!";
}