@import "../../assets/colors";

.footer {
  /*position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;*/
  //display: block;

  //flex: 0 0 auto;

  height: 200px;
  margin-top: -200px;

  color: white;
  font-size: 2ch;
  //background: rgba(255, 255, 255, 0.5);
  background: #1C1C1C;
  border-top: 2px solid black;

  &__inner {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer {

    &__inner {
      padding: 40px 40px 40px 100px;
    }
  }
}