$color_text: #2e3546;

$color_red: rgba(253, 0, 6, 1);
$color_red_light: #e26163;
//$color_red_light: #FE4044;
$color_red_light_2: #FE7276;

//$color_green: #0BD500;
//$color_green_light: #43EA3A;
//$color_green_light_2: #70EA69;

$color_black: black;
$color_grey: #686868;
$color_white: white;

// COLORS FROM == https://colorscheme.ru/#0r31Ow0w0w0w0 == HERE:
// =============== USE IT ====================

$color_orange: #FF6C00;
$color_orange_light: #FF9140;
$color_orange_light_2: #FFAE73;
$color_orange_light_3: rgb(255, 198, 158);

$color_orange_dark: #A64600;
$color_orange_dark_2: #BF6D30;

// --------

$color_blue: #0E51A7;
$color_blue_light: #4282D3;
$color_blue_light_2: #6997D3;

$color_blue_dark: #05326D;
$color_blue_dark_2: #274D7E;

// ------------

$color_green: #00C618;
$color_green_light: #39E24D;
$color_green_light_2: #a7e296;

$color_green_dark: #008110;
$color_green_dark_2: #259433;

// ==============================================